@import url("http://fonts.googleapis.com/css?family=Passion+One:700");
#container {
  padding: 40px 15px;
  text-align: center;
}
h1 {
  font-family: 'Passion One', cursive;
}
h1 span {
  font-size: 80px;
}
.link {
  overflow: hidden;
}
ul {
  list-style-type: none;
  transform: rotate(-90deg);
}
ul li {
  margin: 10px 0px;
  padding: 10px;
}
ul li:nth-child(odd) {
  background-color: #808080;
}
a {
  color: #000;
  font-style: normal;
  text-decoration: none;
}
a:visited {
  color: #000;
}
